.list {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  background-color: black;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  background-color: #383838;
  border-radius: 2vw;
  margin-top: 4vw;
  padding: 4vw;
  img{
    border-radius: 1vw;
  }
}

.time {
  color: #737373;
  margin-bottom: 1vw;
}

.content {
  color: #fcfcfc;
}