.editor {
  width: 100vw;
  height: 100vh;
  padding: 8vw;
  overflow: hidden;
}

.visible {
  bottom: -0;
}

.hidden {
  bottom: -100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.list {

  li>span {
    margin-right: 2vw;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #666;
    color: #fff;
  }
}
.weight,.running,.sitUps{
  input{
    width: 40px;
  }
}
