.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 4vw;
  >p{
    margin-bottom: 2vw;
  }
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  >div{
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
}